.about__main-container {
    display: flex;
    width: 80vw;
    height: 85.2vh;
    margin: auto;
    margin-top: 2rem;
    background-color: #d8a16b;
    border-radius: 2rem;
}

.about__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.about__image {
    width: 80rem;
    border-radius: 1rem;
}

.about__description-container {
    padding: 3rem;
    align-self: center;
}

.about__title {
    font-weight: bold;
    color: #8f4528;
    font-size: 5rem;
}

.about__pedigree {
    font-size: 2.5rem;
    color: #323232;
}

.about__about-dog {
    font-size: 1.5rem;
}