.map-container {
    width: 80rem;
    min-height: calc(100vh - 13rem);
}

.map-container > map {
    height: 100%;
}

.social-media-container {
    position: absolute;
    margin-left: 85rem;
    margin-top: -30rem;
    z-index: 20;
    color: #e7eff5;
}

.list-container {
    list-style: none;
}

.list-container li {
    font-size: 2rem;
}

.fab {
    font-size: 3rem;
    color: #e7eff5;
    margin-right: 1rem;
}

.fas {
    font-size: 3rem;
    color: #e7eff5;
    margin-right: 1rem;
}