.badge__main-container {
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    background-color: #527da8;
    border-radius: 2rem;
}

.badge__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.badge__image {
    width: 30rem;
    border-radius: 1rem;
}

.badge__description-container {
    padding: 3rem;
}

.badge__title {
    font-weight: bold;
    color: #e7eff5;
    font-size: 5rem;
}

.badge__pedigree {
    font-size: 2.5rem;
    color: #e7eff5;
}

.badge__about-dog {
    font-size: 1.5rem;
}

@media screen and (max-width: 850px) {
    .badge__main-container {
        flex-wrap: wrap;
    }

    .badge__image-container {
        margin: auto;
    }

    .badge__description-container {
        padding: 0 2rem 2rem 2rem;
    }

    .badge__title {
        text-align: center;
    }
}

@media screen and (max-width: 424px) {
    .badge__image {
        width: 22rem;
    }

    .badge__title {
        font-size: 3.5rem;
    }

    .badge__pedigree {
        font-size: 2rem;
    }
}