.main__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 13rem);
    padding: 2rem;
}

.home-image {
    width: 80vw;
    border-radius: .5rem;
}