* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background-color: #ebebeb;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #ebebeb;
	display: flex;
	text-align: center;
	justify-content: center;
	max-height: 100vh;
}
