@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:wght@300;400;700&display=swap');

$color-primary: #552277;
$color-secondary: #d30c7b;
$color-light: #ebebeb;
$color-dark: #141414;
$color-alert: #e60023;
$color-success: #3acc86;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background-color: #ebebeb;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #ebebeb;
	display: flex;
	text-align: center;
	justify-content: center;
	max-height: 100vh;
}
